<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" [class.collapsed]="!sidenavOpened" mode="side" [opened]="true">
    <div class="sidenav-content">
      <div class="logo-container" (click)="toggleSidenav()">
        @if(sidenavOpened){
          <img src="../assets/riu.png" alt="Logo" class="logo">
        } @else {
          <img src="../assets/r.png" alt="Logo" class="logo-small">
        }
      </div>

      <div class="sidenav-list" [class.iconCentered]="!sidenavOpened">
        <a mat-list-item routerLink="/heroes" routerLinkActive="active-link">
          <mat-icon matTooltip="Lista de superhéroes" matListItemIcon>view_list</mat-icon>
          @if(sidenavOpened){
            <span matListItemTitle>Lista de superhéroes</span>
          }
        </a>
        <a mat-list-item routerLink="/heroes" routerLinkActive="active-link">
          <mat-icon matTooltip="Vista en detalle" matListItemIcon>dashboard</mat-icon>
          @if(sidenavOpened){
            <span matListItemTitle>Vista en detalle</span>
          }
        </a>
      </div>

      <div class="sidenav-spacer"></div>

      <div class="bottom-actions">
        <a mat-list-item (click)="logout()">
          <mat-icon matTooltip="Cerrar sesión" matListItemIcon>logout</mat-icon>
          @if(sidenavOpened){
            <span matListItemTitle>Cerrar sesión</span>
          }
        </a>
      </div>
    </div>
  </mat-sidenav>

  <!-- <mat-sidenav-content [class]="sidenavOpened ? 'side-expanded' : 'side-collapsed'"> -->
    <mat-sidenav-content [class]="sidenavOpened ? 'side-expanded' : 'side-collapsed'">
    <mat-toolbar color="primary" >
      <span class="title-app">Superheroes App</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-container" >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>