<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" [class.collapsed]="!sidenavOpened" mode="side" [opened]="true">
    <div class="sidenav-content">
      <div class="logo-container" (click)="toggleSidenav()">
        <img src="../assets/riu.png" alt="Logo" class="logo" *ngIf="sidenavOpened">
        <img src="../assets/r.png" alt="Logo" class="logo-small" *ngIf="!sidenavOpened">
      </div>

      <div class="sidenav-list">
        <a mat-list-item routerLink="/heroes" routerLinkActive="active-link">
          <mat-icon matListItemIcon>view_list</mat-icon>
          <span matListItemTitle *ngIf="sidenavOpened">Lista de superhéroes</span>
        </a>
        <a mat-list-item routerLink="/heroes" routerLinkActive="active-link">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle *ngIf="sidenavOpened">Vista en detalle</span>
        </a>
      </div>

      <div class="sidenav-spacer"></div>

      <div class="bottom-actions">
        <a mat-list-item (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle *ngIf="sidenavOpened">Cerrar sesión</span>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <!-- <mat-sidenav-content [class]="sidenavOpened ? 'side-expanded' : 'side-collapsed'"> -->
    <mat-sidenav-content [class.side-collapsed]="!sidenavOpened" [class.side-expanded]="sidenavOpened">
    <mat-toolbar color="primary" >
      <!-- <button >
        <mat-icon>menu</mat-icon>
      </button> -->
      <span class="title-app">Superheroes App</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-container" >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>